.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--c_dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#headerGame {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 85vh;
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */
}

.clickable:hover{
  cursor: pointer;
  opacity: 0.8;
}

h1 {
  color: var(--c_white);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 3vw;
}

.hidden {
  opacity: 0.0;
}

.text{
  background-color: var(--c_accent);
  padding:1vw;
  font-size: calc(10px + 1vmin);
  border-radius: 1vw;
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
}

#jitsiWindow{
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
}

#toggleButton{
  width:40%;
}

#video{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  margin: 2vw;
}

#footer{
  font-size: calc(10px + 1vmin);
  background-color: var(--c_accent);
  padding:1vw;
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
}

a{
  color: var(--c_important);
  text-decoration: none;
}

a:hover{
  color: var(--c_white);
  cursor: pointer;
}